# Variables
* convention:
    - lowercase
    - separate two words using underscore, no camel case

In [1]:
character_name = "John";
character_age = "35";

puts ("There once was a man named " + character_name);

There once was a man named John